.movie-card {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    background-color: powderblue;
    font-family: 'Courier New', Courier, monospace;
}


.movie-card:hover {
    transform: scale(1.05);
}


.movie-poster {
    position: relative;
    width: 100%;
    height: 100px;
}


.movie-poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.movie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.movie-poster:hover .movie-overlay {
    opacity: 1;
}

/* Favorite button */
.favorite-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


.favorite-btn:hover {
    transform: scale(1.2);
}

/* Movie title and release date */
.movie-info {
    padding: 10px;
    text-align: center;
}


.movie-info h3 {
    margin: 5px 0;
    font-size: 1.2rem;
}

.movie-info p {
    font-size: 0.9rem;
    color: #aaa;
}